/* about.jsx */
#about {
  color: #1b2f53;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 70vw !important;
  margin-top: 5rem;
}

.about-container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.about-contents-container {
  margin-right: 2rem;
}

.image-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fortfolio-image {
  position: relative;
  min-width: 100px;
  height: 320px;
  border-radius: 5px;
}

.square {
  position: absolute;
  width: 320px;
  height: 320px;
  background-color: #1b2f53;
  transition: transform 0.5s ease;
  border-radius: 5px;
}

.image-container:hover .square {
  transform: translate(20px, 20px);
}
.skills-container {
  margin-top: 2rem;
}
.skills {
  display: flex;
  flex-wrap: wrap;
}

.list-point {
  color: #fd5d5d;
}

.skill-name {
  margin-right: 2rem;
}

/* aboutContents.jsx */
.about-contents {
  letter-spacing: 1px;
}

.name-strong {
  font-size: 1.2rem;
}

.udemy-link {
  text-decoration: none;
  color: #fd5d5d;
  font-weight: bold;
  position: relative;
}

.udemy-link:hover {
  border-bottom: 1px solid #fd5d5d;
  color: #fd5d5d;
}

@media screen and (max-width: 1070px) {
  .about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center !important;
  }
  .about-contents {
    margin: 2rem 0;
  }

  .fortfolio-image {
    width: 80%;
    height: auto;
  }

  .square {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .about-contents-container,
  .skill-name {
    margin: 0;
  }
}
