.navbar {
  position: absolute !important;
  width: 100vw;
  height: 5rem !important;
}

.sticky {
  position: fixed !important;
  background-color: #f0ebe9;
  top: 0;
  width: 100%;
  z-index: 999;
  opacity: 1;
  visibility: visible;
  animation: slideDown 0.8s ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes slideDown {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}

.navbar-brand {
  font-size: 2rem !important;
  color: #1b2f53 !important;
  font-weight: bold;
  margin: 1rem 2rem;
}

.my-icon {
  width: 3rem;
  height: 2rem;
}

.nav-item {
  margin-left: 1rem;
  color: #1b2f5389 !important;
  position: relative;
  text-decoration: none;
  transition: all 0.3s ease 0s;
}

.nav-item:hover {
  color: #1b2f53 !important;
}

.nav-link:nth-child(-n + 4):before {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 50%;
  width: 0%;
  height: 1px;
  background-color: #1b2f53;
  transition: all 0.3s;
}

.animated {
  position: relative;
  opacity: 0;
}

.animated:nth-of-type(1) {
  animation: slideInDown 1s 0.2s forwards;
}

.animated:nth-of-type(2) {
  animation: slideInDown 1s 0.5s forwards;
}

.animated:nth-of-type(3) {
  animation: slideInDown 1s 0.6s forwards;
}

.animated:nth-of-type(4) {
  animation: slideInDown 1s 0.7s forwards;
}
.animated:nth-of-type(5) {
  animation: slideInDown 1s 0.8s forwards;
}
.animated:nth-of-type(6) {
  animation: slideInDown 1s 0.9s forwards;
}

@keyframes slideInDown {
  from {
    transform: translateY(-70px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.nav-link:hover::before {
  width: 100%;
  left: 0%;
}

.hamburger {
  border: none;
}

.btn-language {
  margin-left: 1rem;
  border: none;
  background: transparent;
  justify-content: start;
  color: #1b2f5389;
}

.country-flag {
  width: 1.4rem;
  border: 1px solid #1b2f5389 !important;
  margin-left: 0.2rem;
}

/* sidebar */
.offcanvas {
  background-color: #fff5f5 !important;
  max-width: 80% !important;
}

.offcanvas-title {
  color: #1b2f53 !important;
  font-size: 2rem !important;
  font-weight: bold !important;
  margin-left: 1.5rem;
}

@media screen and (max-width: 767px) {
  .nav-link:hover::before {
    width: 0;
  }
}
