.projectItem-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: #1b2f53;
  margin-bottom: 4rem;
}

.project-title-section {
  display: flex;
  justify-content: space-between;
}

.project-title {
  font-weight: bold;
  font-size: 1.2rem;
  letter-spacing: 2px;
  margin-bottom: 1rem;
}

.project-img {
  width: 400px;
  height: 240px;
}

.project-description {
  letter-spacing: 1px;
}

.description-container {
  margin: 2rem 0 0 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.project-icon {
  font-size: 1.5rem;
  margin-right: 0.5rem;
  color: #1b2f5389;
  transition: all 0.3s ease 0s;
}

.project-icon:hover {
  color: #1b2f53;
  transform: translateY(-5px);
}

.project-detail {
  text-align: center;
}

.btn-open-modal {
  background-color: #f68084;
  color: #fff;
  padding: 0.5rem 2rem;
  border-radius: 6px;
  border: none;
}

.btn-open-modal:hover {
  background-color: #f6808495;
}

@media screen and (max-width: 990px) {
  .projectItem-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .tech-stack {
    text-align: center;
  }

  .description-container {
    margin: 2rem 0 0 0;
  }
}

@media screen and (max-width: 700px) {
  .project-img {
    width: 270px;
    height: 170px;
  }
}
