* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f0ebe9 !important;
  color: #1b2f53 !important;
}

.section-title {
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 2px;
  margin-bottom: 3rem;
  text-align: center;
}

/* animation */
.container {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 2s ease, transform 1s ease;
}

.show .container {
  opacity: 1;
  transform: translateY(0);
}

.copyright {
  color: #1b2f5389;
  text-align: center;
  margin-bottom: 2rem;
}

button {
  background-color: #f68084;
  color: #fff;
  padding: 0.5rem 2rem;
  border-radius: 6px !important;
  border: none;
}

button:hover {
  background-color: #f6808495;
}

@media screen and (max-width: 767) {
  .section-title {
    font-size: 1rem !important;
    margin-bottom: 1.5rem !important;
  }
}

@media screen and (max-width: 550px) {
  #projects,
  #contact {
    margin-top: 0 !important;
  }
}
