* {
  margin: 0;
  padding: 0;
}

/* @media screen and (max-width: 767px) {
  * {
    font-size: 0.9rem;
  }
} */

body {
  background-color: #fff5f5 !important;
  color: #1b2f53;
}

.section-title {
  font-size: 2.5rem;
  font-weight: bold;
  letter-spacing: 2px;
  margin-bottom: 3rem;
  text-align: center;
}

/* animation */
.container {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 2s ease, transform 1s ease;
}

.show .container {
  opacity: 1;
  transform: translateY(0);
}

.copyright {
  color: #1b2f5389;
  text-align: center;
  margin-bottom: 2rem;
}

@media screen and (max-width: 805px) {
  .section-title {
    font-size: 1.7rem;
  }
}

@media screen and (max-width: 767px) {
  #about,
  #projects,
  #contact {
    max-width: 85vw !important;
  }
}

@media screen and (max-width: 550px) {
  #projects,
  #contact {
    margin-top: 0 !important;
  }

  .section-title {
    margin-bottom: 1.5rem;
  }
}
